backup_sistema_obras/
sinapi_insumos_sp_202603.json
sinapi_custo_ref_composicoes_sp_202603.json
data_entrada.json
data_usuarios_cadastrados.json
__pycache__/
*.pyc
image copy.png
supabase_config.json
